<footer>
<!-- 
    <div class="newsletter">
        <input type="email" placeholder="Ingresa tu Email">
        <button>Suscribite</button>
    </div> -->
    <!-- <section class="seccion-footer">
        <div class="container-footer">
            <div class="redes-sociales">
                <h6>REDES SOCIALES</h6>
                <ul type="none" class="redes">
                    <li><a href="perfumall@gmail.com">Mail</a></li>
                    <li><a href="@PerfuMall">Instagram</a></li>
                </ul>
            </div>
            <div class="Terminos">
                <h5>TÉRMINOS Y CONDICIONES</h5>
                <label>Términos y condiciones</label><br>
                <label>Suscripciones</label><br>
                <label>Entrega de productos</label><br>
            </div>
            <div class="contactanos">
                <h5>CONTÁCTANOS</h5>
                <p class="contactar">
                    (451) 11 3158-4629 <br>
                    54 9 11 7596-3614<br>
                    Lunes a Viernes de 9 am a 9 pm <br>
                    Sabados y Domingos de 10 am a 8 </p>
            </div>
        </div>
    </section> -->


    <div class="container-footer">
        <div class="redes-sociales">
            <div class="card text-bg-primary mb-3" style="max-width: 18rem;">
                <div class="card-header">Redes Sociales</div>
                <div class="card-body">
                    <ul type="none" class="redes">
                        <li><a href="perfumall@gmail.com">Mail</a></li>
                        <li><a href="@PerfuMall">Instagram</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="condiciones">
            <div class="card text-bg-secondary mb-3" style="max-width: 18rem;">
                <div class="card-header">TÉRMINOS Y CONDICIONES</div>
                <div class="card-body">
                    <label>Términos y condiciones</label><br>
                    <label>Suscripciones</label><br>
                    <label>Entrega de productos</label><br>
                </div>
            </div>
        </div>
        <div class="contactar">
            <div class="card text-bg-success mb-3" style="max-width: 18rem;">
                <div class="card-header">CONTÁCTANOS</div>
                <div class="card-body">
                    <p class="contactar">
                        (451) 11 3158-4629 <br>
                        54 9 11 7596-3614<br>
                        Lunes a Viernes de 9 am a 9 pm <br>
                        Sabados y Domingos de 10 am a 8 </p>
                </div>
            </div>
        </div>
    </div>

    
</footer>