<head>
    <link href="/css/header.css" rel="stylesheet" type="text/css" />
</head>
<header class="Header">
    <div class="barra-nav">
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">PerfuMall</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>


                        <% if (locals.isAdmin) { %>
                            <li class="nav-item">
                                <a class="nav-link" href="/producto/crear-producto">Crear Producto</a>
                            </li>
                            <% } %>

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        Cuenta
                                    </a>
                                    <ul class="dropdown-menu">

                                        <% if (!locals.isLogged) { %>
                                            <li>
                                                <a class="dropdown-item" href="/usuario/login">Ya tengo una cuenta</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="/usuario/create">Crear Cuenta</a>
                                            </li>
                                            <% } %>

                                                <% if (locals.isLogged) { %>
                                                    <li>
                                                        <a class="dropdown-item" href="/usuario/change">Modificar
                                                            perfil</a>
                                                    </li>


                                                    <% } %>





                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        Catálogo
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item" href="../producto/carrito">Carrito</a>
                                        </li>
                                    </ul>

                                    <% if (locals.isLogged) { %>
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="/usuario/profile">Perfil</a>
                                </li>
                                <% } %>
                                    </li>
                    </ul>

                    <div class="navbar-top">

                        <button id="menuButton"><i class="fas fa-bars"></i></button>


                        <div>

                            <!--Shopping cart-->
                            <div class="shopping-cart">
                                <div class="sum-prices" id="sum-prices">
                                    <!--Shopping cart logo-->
                                    <i class="fas fa-shopping-cart shoppingCartButton"></i>
                                    <!--The total prices of products in the shopping cart -->
                                    <h6 id="sum-prices"></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Navbar bottom part -->
                    <!-- Here I put the links to the other pages or nav links -->
                    <div class="navbar" id="navbar">

                        <!-- The searchbar which will be in the right side of the links -->

                    </div>
                    <div class="producstOnCart hide">
                        <div class="overlay"></div>
                        <div class="top">
                            <button id="closeButton">
                                <i class="fas fa-times-circle"></i>
                            </button>
                            <h3>Cart</h3>
                        </div>
                        <ul id="buyItems">
                            <h4 class="empty">Your shopping cart is empty</h4>
                            <!-- <li class="buyItem">
                    						<img src="Images/producs-images/Mobiles/galaxynote10.png">
                    						<div>
                    							<h5>Products Name</h5>
                    							<h6>$199</h6>
                    							<div>
                    								<button>-</button>
                    								<span class="countOfProduct">1</span>
                    								<button>+</button>
                    							</div>
                    						</div>
                    					</li> -->
                        </ul>
                        <button class="btn checkout hidden">Check out</button>
                    </div>
                    <div class="search">
                        <input type="text" class="search__input" placeholder="Buscar" />
                        <button class="search__button">
                            <svg class="search__icon" aria-hidden="true" viewBox="0 0 24 24">
                                <g>
                                    <path
                                        d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z">
                                    </path>
                                </g>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>