<header class="Header">
    <div class="barra-nav">
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">PerfuMall</a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                      
                         
                        <% if (locals.isAdmin) { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/producto/crear-producto">Crear Producto</a>
                        </li>  
                        <% } %>
                         
                        <li class="nav-item dropdown">
                            <a
                                class="nav-link dropdown-toggle"
                                href="#"
                                role="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                            >
                                Cuenta
                            </a>
                            <ul class="dropdown-menu">

                                <% if (!locals.isLogged) { %>
                                <li>
                                    <a class="dropdown-item" href="/usuario/login">Ya tengo una cuenta</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/usuario/create">Crear Cuenta</a>
                                </li>
                                <% } %>

                                <% if (locals.isLogged) { %>
                                    <li>
                                        <a class="dropdown-item" href="/usuario/change">Modificar perfil</a>
                                    </li>


                                <% } %>
                               
                               
                                

                                
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a
                                class="nav-link dropdown-toggle"
                                href="#"
                                role="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                            >
                                Catálogo
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="../producto/carrito">Carrito</a>
                                </li>
                            </ul>

                            <% if (locals.isLogged) { %>
                              <li class="nav-item">
                                  <a class="nav-link active" aria-current="page" href="/usuario/profile">Perfil</a>
                              </li>
                              <% } %>
                        </li>
                    </ul>
                    <div class="search">
                        <input type="text" class="search__input" placeholder="Buscar" />
                        <button class="search__button">
                            <svg class="search__icon" aria-hidden="true" viewBox="0 0 24 24">
                                <g>
                                    <path
                                        d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"
                                    ></path>
                                </g>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>
