<head>
    <link href="/css/header.css" rel="stylesheet" type="text/css" />
</head>
<header class="Header">
    <div class="barra-nav">
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">PerfuMall</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link " aria-current="page" href="/">Home</a>
                        </li>


                        <% if (locals.isAdmin) { %>
                            <li class="nav-item">
                                <a class="nav-link " href="/producto/crear-producto">Crear Producto</a>
                            </li>
                            <% } %>

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle " href="#" role="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        Cuenta
                                    </a>
                                    <ul class="dropdown-menu">

                                        <% if (!locals.isLogged) { %>
                                            <li>
                                                <a class="dropdown-item " href="/usuario/login">Ya tengo una cuenta</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item " href="/usuario/create">Crear Cuenta</a>
                                            </li>
                                            <% } %>

                                                <% if (locals.isLogged) { %>
                                                    <li>
                                                        <a class="dropdown-item " href="/usuario/change">Modificar
                                                            perfil</a>
                                                    </li>


                                                    <% } %>
                                    </ul>



                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " href="/producto/carrito">Carrito</a>
                                </li>

                                <% if (locals.isAdmin) { %>

                                    <li class="nav-item">
                                        <a class="nav-link" target="_blank"
                                            href="https://dashboard-tmwc.onrender.com/">Dashboard</a>
                                    </li>

                                    <% } %>

                                        <% if (locals.isLogged) { %>
                                            <li class="nav-item">
                                                <a class="nav-link " aria-current="page"
                                                    href="/usuario/profile">Perfil</a>
                                            </li>
                                            <% } %>
                                                </li>
                                                <% if (locals.isAdmin) { %>
                                                    <li class="nav-item">
                                                        <a class="nav-link " href="/usuario/admin">Administrar</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link " href="/usuario/admin/ventas">Ventas</a>
                                                    </li>
                                                    <% } %>
                    </ul>

                    <div class="navbar-top">




                        <div>

                            <!--Shopping cart-->

                            <!-- Navbar bottom part -->
                            <!-- Here I put the links to the other pages or nav links -->
                            <div class="navbar" id="navbar">

                                <!-- The searchbar which will be in the right side of the links -->

                            </div>

                        </div>
                    </div>
        </nav>
    </div>
</header>