<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/style.css" rel="stylesheet " type="text/css" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />
    <script src="https://kit.fontawesome.com/258b4efd0d.js" crossorigin="anonymous"></script>

    <title>Perfumall</title>
</head>

<body>
    <%- include('./partials/header') %>
        <main class="pepe">
            <form class="row g-12 my-5   " action="/producto/crear-producto" method="POST" enctype="multipart/form-data">
                <div class="col-12 ">
                    <div class="col-12 my-2">
                        <label for="modelo" class="form-label">Modelo</label>
                        <input type="text" class="form-control" name="modelo" id="modelo" placeholder="Modelo" />
                    </div>
                    <div class="col-md-12 my-2">
                        <label for="marca" class="form-label">Marca</label>
                        <select class="form-select" name="marca" id="marca">


                            <% for( let i=0; i < marcas.length; i++ ) { %>
                                <option value=<%=marcas[i].id%>>
                                    <%= marcas[i].nombre %>
                                </option>
                                <% } %>
                        </select>
                    </div>
                    <div class="col-12 my-2">
                        <label for="descripcion" class="form-label">Descripcion</label>
                        <input type="text" class="form-control" name="descripcion" id="descripcion"
                            placeholder="Descripción" />
                    </div>
                    <div class="col-12 my-2 disabled">
                        <label for="descuento" class="form-label">Descuento</label>
                        <input type="number"  class="form-control "  name="descuento" id="descuento"
                            placeholder="Descuento" />
                    </div>


                    <div class="col-12 my-2 disabled ">
                        <label for="precio" class="form-label">Precio</label>
                        <input type="number" name="precio" class="form-control" id="precio" placeholder="Precio" />
                    </div>
                    <div class="col-12 my-2">
                        <label for="stock" class="form-label">Stock</label>
                        <input type="number" name="stock" class="form-control" id="stock" placeholder="Stock" />
                    </div>
                    <div class="col-12 my-2">
                        <label for="imagen" class="form-label">Imagen</label>
                        <input type="file" name="imagen" class="form-control" id="imagen"
                            placeholder="Seleccione imagen" />
                    </div>
                    <div class="col-12 pepe my-2">
                        <button type="submit" class="btn btn-primary">Cargar</button>
                    </div>
                </div>
            </form>
        </main>
        <%- include('./partials/footer') %>

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
                crossorigin="anonymous"></script>
</body>

</html>