* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.container {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: azure;
  margin-top: 25px;
  border: 3px solid #000;
}

.volver {
  text-align: justify;
}

.perfume {
  width: 500px;
}

.vista-info {
  border: 2px solid #ebebeb;
  width: 700px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

footer {
  background-color: #013;
  color: #0cb7f2;
  width: 100%;
  position: absolute;
  top: 800px;
}

.container-footer {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 80px;
}

@media only screen and (min-width: 0px) and (max-width: 320px) {
  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 40px;
  }

  .perfume {
    width: 280px;
  }

  .vista-info {
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .container-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 2.5;
  }
}

@media only screen and (min-width: 320px) and (max-width: 374px) {
  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 40px;
  }

  .perfume {
    width: 280px;
  }

  .vista-info {
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .container-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 2.5;
  }
}

@media only screen and (min-width: 375px) and (max-width: 424px) {
  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 40px;
  }

  .perfume {
    width: 280px;
  }

  .vista-info {
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .container-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 2.5;
  }
}

@media only screen and (min-width: 425px) and (max-width: 768px) {
  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 40px;
  }

  .perfume {
    width: 400px;
  }

  .vista-info {
    width: 680px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .container-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 2.5;
  }
}

.contenedor-navs {
  padding: 60vh;
}
