* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
.main{
background-color: #add1ff;
}
.carta{
  display:flex;
  justify-content: center;
  height:80%;
}
.imagen{
height:40px;
}
.perfume{
  ;
}