* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
main {
    display: flex;
    justify-content: center;
    height: 90vh;
    align-items: center;
    background-color: #add1ff;
}
#btn-cart {
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
    margin-top: 12%;
}
p.card-text {
    padding-top: 5%;
}
div.card.mb-3.cart-border {
    display: flex;
    width: 60%;
    height: 80%;
    border: 1px solid #a3c9fa;
}

div.row.no-grutter {
    border: 1px solid
        linear-gradient(
            rgb(255, 255, 255),
            rgb(255, 255, 255),
            rgb(186, 227, 255),
            #a3c9fa
        );
}
button.btn.btn-secondary.addToCart {
    font-size: 18px;
    color: rgb(16, 53, 102);
    background-color: #9ccdfb;
    border: none;
    height: 6vh;
    width: 30vh;
}
button.btn.btn-secondary.addToCart:hover {
    border: 1px solid #005288;
}
.card-title {
    padding-top: 15px;
}
.modelo {
    padding-top: 1%;
}
.marca {
    padding-top: 1%;
}
.precio {
    padding-top: 1%;
}
