body {
    font-family: "Montserrat", sans-serif;
}

/* h1 {
  margin-top: 10px;
  margin-left: 35%;
}

header {
  height: 60px;
  margin-left: -10px;
  text-align: center;
} */

/* header h1 {
  color: #d5cad6;
} */

/* .container-editar {
  margin-left: 1%;
} */

.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.search__input {
    font-family: inherit;
    font-size: inherit;
    background-color: #f4f2f2;
    border: none;
    color: #646464;
    padding: 0.7rem 1rem;
    border-radius: 30px;
    width: 12em;
    transition: all ease-in-out 0.5s;
    margin-right: -2rem;
}

.search__input:hover,
.search__input:focus {
    box-shadow: 0 0 1em #00000013;
}

.search__input:focus {
    outline: none;
    background-color: #f0eeee;
}

.search__input::-webkit-input-placeholder {
    font-weight: 100;
    color: #ccc;
}

.search__input:focus + .search__button {
    background-color: #f0eeee;
}

.search__button {
    border: none;
    background-color: #f4f2f2;
    margin-top: 0.1em;
}

.search__button:hover {
    cursor: pointer;
}

.search__icon {
    height: 1.3em;
    width: 1.3em;
    fill: #4e4e4e;
}
.g-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col-md-4 {
    width: 80%;
}

.col-md-6 {
    width: 80%;
    margin-left: 25%;
}

.col-md-3 {
    width: 40.5%;
    margin-right: 15%;
}

.form-control {
}

.form-check {
    margin-left: 22.5%;
}

.btn-primary {
    margin-left: 22.5%;
}

.img-container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.img-container img {
    border-radius: 20px;
    height: 300px;

    width: 400px;
}

.btn-modificar {
    width: 500px;
    margin: 0px;
}
.btn-cancelar {
    width: 500px;

    margin: 0px;
}
