* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-family: "Roboto", sans-serif;
    text-decoration: none !important;
}

@media only screen and (max-width: 4000px) and (min-width: 360px) {
    /* button.btn.btn-info.comrpame {
        background-color: #9ccdfb ;
    }*/

    div.input-group.rounded.searchBtn {
        display: flex;
        justify-content: flex-start;
        padding: 15px;
        width: 15%;
    }
    div.orderBtn {
        display: flex;
        justify-content: flex-start;
        padding: 15px;
        width: 15%;
        flex-direction: column;
    }
    div.btn-group.asd {
        width: 80%;
    }
    button.btn.btn-secondary.dropdown-toggle {
        background-color: #7abfff;
        color: #005288;
    }
    .pepe {
        display: flex;
        justify-content: center;
        padding-top: 15px;
    }

    .titulo-chanel {
        text-align: center;
        font-size: 30px;
    }
    .cakl {
        padding: 20px;
    }
    .panqueque {
        display: flex;
        flex-direction: row;
    }
    .container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .container img {
        width: 250px;
        height: 250px;
    }

    .contenedor-producto {
        display: flex;
        justify-content: center;
        padding: 15px;
        height: 70vh;
    }
    div.card.product-under {
        background-image: linear-gradient(
            rgb(255, 255, 255),
            rgb(255, 255, 255),
            rgb(186, 227, 255),
            #a3c9fa
        );
    }
    .producto {
        padding: 15px;
        border: 1px solid rgb(52, 108, 134);
        height: 68vh;
        border-radius: 3%;
    }
    .colorete {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        flex-direction: column;
        padding-top: 25px;
    }
    .productoinfo {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-evenly;
        align-items: center;
        height: 33vh;
        
    }
    main {
        background-color: #add1ff;
    }
    .compreto {
        color: #000;
        font-size: 20px;
        text-transform: uppercase;
        border: none;

        border-radius: 10px;
        box-shadow: 0 5px 15px rgba(#fff);
    }
    button.btn.btn-info.comprame {
        font-size: 18px;
        color: rgb(16, 53, 102);
        background-color: #9ccdfb;
        border: none;
        height: 6vh;
        width: 15vh;
    }
    button.btn.btn-info.comprame:hover {
        border: 1px solid #005288;
    }

    .img-11 {
        border-radius: 3%;
    }
    .card {
        width: 100%;
        height: 254px;
        background: rgb(255, 255, 255);
        transition: all 300ms;
    }

    .card:hover {
        opacity: 0.8;
        transform: scale(1.03);
    }
    .search {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
    }

    .search__input {
        font-family: inherit;
        font-size: inherit;
        background-color: #f4f2f2;
        border: none;
        color: #646464;
        padding: 0.7rem 1rem;
        border-radius: 30px;
        width: 12em;
        transition: all ease-in-out 0.5s;
        margin-right: -2rem;
    }

    .search__input:hover,
    .search__input:focus {
        box-shadow: 0 0 1em #00000013;
    }

    .search__input:focus {
        outline: none;
        background-color: #f0eeee;
    }

    .search__input::-webkit-input-placeholder {
        font-weight: 100;
        color: #ccc;
    }

    .search__input:focus + .search__button {
        background-color: #f0eeee;
    }

    .search__button {
        border: none;
        background-color: #f4f2f2;
        margin-top: 0.1em;
    }

    .search__button:hover {
        cursor: pointer;
    }

    .search__icon {
        height: 1.3em;
        width: 1.3em;
        fill: #4e4e4e;
    }
    .name {
        color: #184d8a;
    }
    .price {
        color: #184d8a;
    }
    .discountTachado {
        color: #ac7500;
        text-decoration: line-through !important;
    }

    .discount {
        color: #ac7500;
    }
    .description {
        color: #184d8a;
    }
}
